.wc-free-shipping-progress-bar__progress[value] {
	appearance: none;
	background: transparent;
	border: 1px solid currentColor;
	border-radius: 3px;
	height: 20px;
	margin: 0.5em 0 2em;
	width: 100%;
}

.wc-free-shipping-progress-bar__progress[value]::-webkit-progress-bar {
	background: transparent;
}

.wc-free-shipping-progress-bar__progress[value]::-webkit-progress-value {
	background: currentColor;
}

.wc-free-shipping-progress-bar__progress[value]::-moz-progress-bar {
	background: currentColor;
}
