.progress-container {
	align-items: center;
	background: transparent;
	border: 1px solid currentColor;
	border-radius: 0.125em;
	display: flex;
	height: 2em;
	justify-content: center;
	margin-top: 0.5em;
	position: relative;
}

.progress-bar {
	background: #96588a;
	height: 100%;
	left: 0;
	position: absolute;
}